<!DOCTYPE html>
<html lang="en" style="background-color: #65748209;" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
  <title>Index</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
</head>
<body>
  <div class="container" style="padding-top: 3rem;">
    <table>
      <h1>Logs</h1>
      <thead>
        <tr>
          <th>Url</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <% logs.each do |log| %>
          <% path = log[0] %>
          <% time = log[1] %>
          <tr>
            <td><%= path %></td>
            <td><%= time %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</body>
</html>
